<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">  <!-- had to add the xmlsns bit to let Intellij know it should conform to thymeleaf standards -->
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>  <!-- Thymeleaf syntax in the h1 -->

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${cheeses} and ${cheeses.size()}" >No Cheese :(</p>

    <ul>
        <div th:each="cheese : ${cheeses}">
            <span th:text="${cheese.key}"></span>
            <span> : </span>
            <span th:text="${cheese.value}"></span>
        </div>
    </ul>
</body>
</html>