<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">  <!-- had to add the xmlsns bit to let Intellij know it should conform to thymeleaf standards -->
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>  <!-- Thymeleaf syntax in the h1 -->

    <nav th:replace="fragments :: navigation"></nav>
    <br />
    <p th:unless="${cheeses} and ${cheeses.size()}" >No Cheese To Display</p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr th:each="cheese : ${cheeses}">
            <td th:text="${cheese.name}"></td>
            <td th:text="${cheese.description}"></td>
        </tr>
    </table>
</body>
</html>